[submodule "core/dependencies/glfw"]
	path = core/dependencies/glfw
	url = https://github.com/gehud/glfw.git
[submodule "core/dependencies/spdlog"]
	path = core/dependencies/spdlog
	url = https://github.com/gehud/spdlog.git
